/* CSS file */
Alert
{
	background-alpha:1;
	border-alpha:1;
	background-color:#20A040;
	border-color:#20A040;
	font-size:12;
}



global
{
	fontFamily: Arial;
	font-size:11;
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #4CBC71, #003D10;
}
ComboBox
{
	fontFamily: Arial;
	cornerRadius: 3;
	font-size:11;
}
Button
{
	cornerRadius: 3;
	fontWeight: normal;
	fontSize: 12;
	paddingBottom: 1;
	paddingRight: 6;
	paddingLeft: 6;
	paddingTop: 1;
}
.Note
{
	color: #777777;
	fontSize: 11;
}

ToolTip
{
	font-size:11;		
}

Label
{
	font-size:12;
}
CheckBox
{
	font-size:12;
}

Panel
{
	borderColor: #FFFFFF;
}
TitleWindow
{
	border-alpha:1.0;
	border-color:#DDEEDD;
	title-style-name:"TitleWindowTitle";
	cornerRadius: 3;
}
Panel
{
	title-style-name:"TitleWindowTitle";
	cornerRadius: 3;
}

.TitleWindowTitle
{
	font-size:13;
	font-weight:bold;
}

Label.MainTitle
{
	fontSize: 20;
}

.SourceCode
{
	font-family:"Courier";
	font-size:12;
	color: #000000;
}

TextInput
{
	font-family:"Courier";
	font-size:12;
	color: #000000;	
}
.MyDataGridHeader
{
	font-size:11;
	font-style:normal;
	font-weight:normal;
	color: #333333;	
}

.DGCommentHeader
{
	font-size:13;
	color:#336633;
}

DataGrid
{
	alternating-item-colors: #FFFFFF, #EEEEEE;
}
